body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-image: url('img/background-sedona-main.jpg');
  background-position: absolute;
  background-size: auto;
  background-repeat: no-repeat;
}

.navigation-list{
  margin-bottom: 0px;
  display: flex;
  min-height: 56px;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 0, 0, 0.3);
}
.navigation-item{
  width: 240px;
  text-align: center;
}
.navigation-item:nth-child(2){
  padding-right: 240px;
}

.main-header-logo{
  width: 140px;
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

h1.visually-hidden {
  display: none;
}
.banner-item-bg{

}
a {
  text-decoration: none;
  color: #000000;
}

.navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.navigation-list a:hover,
.navigation-list a:focus{
  color: #81b3d2
}
.navigation-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

p.discription {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}
.advantages {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: normal;
}
h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
}

button.button-brown {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  background-color: #766357;
  border: none;
}
button.button-brown:hover,
button.button-brown:focus {
  background-color: #604e43;
}
button.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

button {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  background-color: #81b3d2;
  border: none;
}

button:hover,
button:focus {
  background-color: #669ec0;
}
button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

form.hotels-search {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.container-item input{
  background: url(img/calendar.svg) no-repeat center right;
  padding-left: auto;
  background-color: #f2f2f2;
}

.container-item input:hover,
.container-item input:focus{
  background-color: #ebebeb;
}
.container-item input:active {
  background-color: #ffffff;
}


div.wrapper-button-calendar button{
  color: #000000;
  background-color: #f2f2f2;
}


.sorting,
.hotels-description{
  background-color: #ffffff;
}


.hotels-description a {
  color: #000000;
}
.hotels-description a:hover,
.hotels-description a:focus{
  color: #81b3d2
}
.hotels-description a:active {
  color: rgba(0, 0, 0, 0.3);
}

.stars{
  color: #81b3d2;
}
.feedback-rating{
  background-color: #f2f2f2;
}

.footer {
  color: #f2f2f2;
  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
  padding: 36px 0;
  margin-top: 73px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(225, 0, 0, 0.3);
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  width: 51px;
}

.social-networks{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social-networks-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  width: 46px;
  height: 48px;
  color: #ffffff;
  background-color: #81b3d2;
  }

.social-networks-item a:hover,
.social-networks-item a:focus {
  background-color: #669ec0;
  text-decoration: none;
}
.social-networks-item a:active {
  background-color: #5496bd;
}

.creators {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  width: 200px;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}

svg {
  width: 115px;
  height: 41px;
  background-color: #ffffff;
  position: absolute;
  align-items: center;
}
.footer-logo:hover svg path,
.footer-logo:focus svg path {
  fill: #81b3d2;
}

.footer-logo:active svg path{
  fill: #bdbbbc;
}
